.DS_Store
Data/
Models/__pycache__/
Pruner/.DS_Store
Trained_Models/
Pruner/Pruning_Criterion/L1norm/__pycache__
Pruner/Pruning_Criterion/Taylor/__pycache__
Pruner/__pycache__
Learning_Curves/
__pycache__/